h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
div,
a,
li,
label,
input,
textarea {
  font-family: "Roboto Mono", monospace;
}
.intro-wrapper {
  border: 2px solid lightcoral;
  width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav-content nav-content"
    "left-column right-column";
}

.intro-wrapper div {
  border: 2px solid lightcoral;
}

.nav-content {
  grid-area: nav-content;
  justify-content: space-between;
  padding: 10px 5px;

}

.left-column {
  grid-area: left-column;
}

.right-column {
  grid-area: right-column;
}
ul {
  list-style: none;
  display: flex;
}
ul li {
  padding: 0 10px;
}
.nav-content .colors{
  display: flex;
}

.nav-content .colors div{
  margin: 5px 5px;
  border: none;
}



.yellow{
  background-color: yellow;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.red{
  background-color: red;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.green{
  background-color: green;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .intro-wrapper {
    width: 95%;
  }
}
